// ZURB Foundation
//-----------------------------------------

// ZURB Foundation settings

// $grid-max-width: 980px
// $grid-min-width: 800px

// ZURB Foundation settings

@import "ZURB-foundation";

// Project Styles
//-----------------------------------------

#context-editor {
  table {
    border: 1px solid #ccc;
    table-layout: fixed;
    width: 100%;
  }

  table th {
    height: 1em;
  }

  td {
    vertical-align: top;
    overflow: hidden;
  }

  ul {
    list-style: none
  }

  li {
    border: 1px solid grey;
  }

  li.active {
    background: #ccc;
  }

  li.active:after {
    content: "\27A4";
    float: right;
  }

  li.open {
    background: #f00;
    color: #fff;
  }

  li .parent, li .id, li .position, li .context_id, li .extension_id, li .condition_id, li .continue {
    display: none;
  }

  #actions .data:before { content: "("; }
  #actions .data:after  { content: ")"; }

  #conditions .matcher { font-weight: bold; }
  #conditions .matcher:after { content: ": "; }
  #conditions .break:before { content: " break: " }
  #conditions .break { color: #f00; }
}
